# Generated config after installation
lib/confs/Conf.php

# Doctrine caches
src/cache/doctrine_metadata/
src/cache/doctrine_queries/

# OrangeHRM caches
src/cache/orangehrm/

# Installer logs
src/log/installer.log
src/log/orangehrm.log

# Node.js dependencies (ignore everywhere)
node_modules/

# Yarn v2+ cache & unpacked dependencies
**/.yarn/cache/
**/.yarn/unplugged/
**/.yarn/build-state.yml
**/.pnp.*

# Keep these Yarn files
!.yarn/releases/
!.yarn/plugins/
!.yarn/sdks/
!.yarn/patches/
!.yarn/install-state.gz

# Frontend build output
web/dist/
